<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.colorPalette.dao.IColorMapper">
	
	
	<resultMap id="Map1" type="com.example.colorPalette.vo.ColorBoxVO">
		<result property="boxId" column="box_id"/>
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="regDate" column="reg_date"/>
	</resultMap>
	
		<resultMap id="Map2" type="com.example.colorPalette.vo.ColorVO">
		<result property="colorId" column="color_id"/>
		<result property="boxId" column="box_id"/>
		<result property="hex" column="hex"/>
		<result property="regDate" column="reg_date"/>
	</resultMap>

	<insert id="insertBox">
		insert into color_box(id,title) values(#{id},#{title})
	</insert>
	
	<update id="updateBox">
		update color_box set title=#{title} where box_id=#{boxId}
	</update>
	
	<delete id="deleteBox">
		delete from color_box where box_id=#{boxId}
	</delete>
	
	<delete id="deleteAllBox">
		delete from color_box where id=#{id}
	</delete>
	
	<select id="selectAllBox" resultMap="Map1">
		select * from color_box
	</select>
	
	<select id="selectBox" resultMap="Map1">
		select * from color_box where id=#{id}
	</select>
	
	<select id="searchBox" resultMap="Map1">
		select * from color_box where title like concat("%",#{title},"%")
	</select>	
	
	<insert id="insertHex">
		insert into color(box_id,hex) values(#{boxId},#{hex})
	</insert>

	<update id="updateHex">
		update color set hex="HHHH" where color_id=#{colorId} 
	</update>
	
	<delete id="deleteHex">
		delete from color where color=#{colorId}
	</delete>
	
	<delete id="deleteAllHex">
		delete from color where box_id=#{boxId}
	</delete>
	
	<select id="selectHex" resultMap="Map2">
		select * from color where box_id=#{boxId}
	</select>
	
	<select id="searchHex" resultMap="Map2">
		select * from color where hex like concat("%",#{hex},"%") AND box_id=3
	</select>
</mapper>