<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.colorPalette.dao.ILoginMapper">
	
	
	<resultMap id="Map" type="com.example.colorPalette.vo.UserVO">
		<result property="id" column="id"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="joinDate" column="join_date"/>
	</resultMap>

	<insert id="insert">
		insert into user(email,password,name) values(#{email},#{password},#{name})
	</insert>
	
	
	<delete id="delete">
		delete from user where id=#{id}
	</delete>
	
	<update id="update">
		update user set name=#{name} where id=#{id}
	</update>
	
	
	<select id="select" resultMap="Map">
		select * from user where email=#{email}
	</select>
	
	<select id="selectId" resultMap="Map">
		select * from user where id=#{id}
	</select>
	
	<select id="checkId" resultType="int">
		select count(*) from user where email=#{email}
	</select>	

</mapper>